BorderPane{
    -fx-background-color: #4C5940;

}
HBox{
    -fx-background-radius: 50;
    -fx-background-color: #333;

}
VBox{
    -fx-spacing: 35px;
}

.btc-hbox{
    -fx-background-color: #B86B2C;
}

.eth-hbox{
    -fx-background-color: #3D8E4D;
}